<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>266210725888-2qq2a98aelmkokl3uqj1tu770uvokhnn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.266210725888-2qq2a98aelmkokl3uqj1tu770uvokhnn</string>
	<key>API_KEY</key>
	<string>AIzaSyBKbctKWh2eD1qumaskpqAyz88U8rbJq30</string>
	<key>GCM_SENDER_ID</key>
	<string>266210725888</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.philvasseur.YaleGrill</string>
	<key>PROJECT_ID</key>
	<string>yalegrill</string>
	<key>STORAGE_BUCKET</key>
	<string>yalegrill.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:266210725888:ios:dba80daffd6f7ba1</string>
	<key>DATABASE_URL</key>
	<string>https://yalegrill.firebaseio.com</string>
</dict>
</plist>